mixin tagline
    .tagline
        .tagline__item
            a(href="https://www.1c-bitrix.ru/partners/184590.php" target="_blank" rel="nofollow")
                +partner()
        .tagline__item
            +minPrice()
