-
    var callbackList = [
        {
            isError: false,
            label: 'Ваше имя',
            errorText: 'Введите Ваше имя',
            requireType: 'text',
            type: 'text',
            name: 'name',
            placeholder: '',
            isRequire: true,
            value: ''
        },
        {
            isError: false,
            label: 'Номер телефона',
            errorText: 'Введите номер телефона',
            requireType: 'tel',
            name: 'tel',
            type: 'tel',
            placeholder: '+7 (___) ___-__-__',
            isRequire: true,
            value: ''
        },
    ]

mixin formCallback
    .page__form
        +form({
            isDefaultValidate: true,
            fieldList: callbackList,
            formName: 'default',
            textBtn: btnText.callback,
            disclaimer: true,
            action: 'http://localhost/gift.php',
        })

