-
    var recoveryForm = [
        {
            isError: false,
            label: 'Электронная почта',
            errorText: 'Неверный формат почты',
            requireType: 'email',
            name: 'email',
            type: 'email',
            placeholder: '',
            isRequire: true,
            value: ''
        }
    ]