-
    var paramAddProject = {
        class: "modal sdfafsaf",
        title: "Добавить к проекту WS Support?",
        id: "add-case",
        titleClass: "subtitle"
    }

mixin modalAddCase
    +modal(paramAddProject)
        .button-wrapper
            +buttonAttr({mixin: 'button--blue', text: 'Добавить', attr:{'data-toggle':'modal', 'data-target': 'select-project'}})
            +buttonAttr({
                mixin: 'js-modal-close',
                text: 'Отмена',
            })