-
    var changeForm = [
        {
            isError: false,
            label: 'Новый пароль',
            errorText: 'Неверный пароль',
            requireType: 'password',
            name: 'pass',
            type: 'password',
            placeholder: 'Введите пароль',
            isRequire: true,
            value: ''
        },
        {
            isError: false,
            label: 'Повторите новый пароль',
            errorText: 'Неверный пароль',
            requireType: 'password',
            name: 'pass',
            type: 'password',
            placeholder: 'Введите пароль',
            isRequire: true,
            value: ''
        },
    ]